/* reset */
$min-width: 320px; 
$max-width: 1234px; 
$base-bg: #FFF; 
$link-color: #100da9;
$default-transition:all 0.2s linear;
$base-font-size: 14px; 
$base-line-height: 18px; 
$base-font-family: PTSansRegular, sans-serif; 
$logo-color: #747688;
$light-color: #b9b8bd;
$main-color: #181616;
$decor-color:  rgb(210, 166, 107);
$decor-color-bright: #cb944c;
$mob-menu-color: #3eade2;
$mob-bg-color: #f0f1f6;
$light-decor-color: #eedcc4;
$info-color: #2b3056;
$border-color: #DDDFDF;
$menu-color: #171717;
$white-color: #fff;
$submenu-color: #666666;
$submenu-bg-color: #e9e9ea;
/* main variables */


// text, titles
$text-color: #000;
$title-color: #000;
// $title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;